@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

:root {
	--gunmetal: #222831;
	--cultured: #f9f7f7;
	--lavender-web: #dbe2ef;
	--lavender-floral: #a888e7;
	--cool-grey: #8b9ab3ff;
	--queen-blue: #556c87ff;
	--rich-black-fogra-29: #090b14ff;
	--charcoal: #424654ff;
	--raisin-black: #212534ff;
	--prussian-blue: #2d384cff;
}

* {
	font-family: "Nunito", sans-serif;
	color: var(--cultured);
}

body {
	background-color: var(--rich-black-fogra-29);
}

nav {
	background-color: rgba(9, 11, 20, 0.7);
	backdrop-filter: blur(4px);
}

nav .navbar-brand img {
	height: 30px;
}

nav .nav-link {
	color: var(--lavender-web) !important;
}

nav .nav-link:hover {
	color: var(--lavender-floral) !important;
}

nav .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(168, 136, 231)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

nav .navbar-toggler {
	border: none !important;
}

nav .navbar-toggler:focus {
	box-shadow: none !important;
}

.carousel-inner > .carousel-item > img {
	min-height: 350px;
	max-height: 800px;
	object-fit: cover;
	object-position: top;
}

section {
	padding-top: 57px;
}

.card img,
.song-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

@media (max-width: 767.98px) {
	.album-card {
		max-width: 15rem;
	}
}
